<%- include('./layout/header')%>
<%- include('./layout/navigation')%>
<main id="container" role="main">
    <!-- Content -->
    <div id="content">
        <!-- Page title -->
        <section class="page-title">
            <div class="page-title__content">
                <div class="container">
                    <h2 class="page-title__name">Về chúng tôi</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb__item"><a href="/index" class="breadcrumb__link">Trang chủ</a></li>
                        <li class="breadcrumb__item">Về chúng tôi</li>
                    </ul>
                </div>
            </div>
            <div class="page-title__bg" data-top="top[inverted]:50%;" data-top-bottom="top:0%;">
                <img src="/img/bg_title_aboutus.jpg" alt="">
            </div>
        </section>
        <!-- // Page title -->

        <!-- Main about and Service -->
        <section class="section">
            <h3 class="sr-only">Về chúng tôi</h3>
            <div class="section__content">
                <div class="aboutus-main">
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <ul class="aboutus-main__list-img js-aboutus-main-list-img">
                                    <li class="aboutus-main__item-img"><img src="/img/img_aboutus_main.jpg" alt=""></li>
                                    <li class="aboutus-main__item-img"><img src="/img/img_aboutus_main_02.jpg" alt=""></li>
                                </ul>
                            </div>
                            <div class="col-6">
                                <div class="aboutus-main__content">
                                    <strong class="aboutus-main__title">BIMworks có các giải pháp <br>phù hợp cho bạn</strong>
                                    <p class="aboutus-main__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="service">
                    <div class="container">
                        <div class="row">
                            <div class="col-4">
                                <div class="service__item">
                                    <a href="/project-list" class="service__link">
                                        <i class="service__icon icon-design"></i>
                                        <strong class="service__name">Thiết kế</strong>
                                        <p class="service__description">Lorem ipsum dolor sit amet, consecter piscing elit. Aenean commodo ligula eget dolor Aenean.</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="service__item">
                                    <a href="/project-list" class="service__link">
                                        <i class="service__icon icon-furniture"></i>
                                        <strong class="service__name">Nội thất</strong>
                                        <p class="service__description">Lorem ipsum dolor sit amet, consecter piscing elit. Aenean commodo ligula eget dolor Aenean.</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="service__item">
                                    <a href="/project-list" class="service__link">
                                        <i class="service__icon icon-construction"></i>
                                        <strong class="service__name">Thi công</strong>
                                        <p class="service__description">Lorem ipsum dolor sit amet, consecter piscing elit. Aenean commodo ligula eget dolor Aenean.</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- // Main about and Service -->

        <section class="section section--contact section--border-top">
            <div class="section__title">
                <div class="container">
                    <h3 class="section__name">LIÊN HỆ CHÚNG TÔI</h3>
                </div>
            </div>
            <div class="section__content">
                <!-- Contact form -->
                <div class="contact">
                    <div class="container">
                        <div class="row">
                            <div class="col-5">
                                <div class="contact__info">
                                    <ul class="contact__info-list">
                                        <li class="contact__info-item">
                                            <strong class="contact__info-name">Địa chỉ :</strong>
                                            <ul class="contact__info-content">
                                                <li class="contact__info-depth2">Số 15, đường Chiến Thắng, Hà Đông, Hà Nội, Việt Nam</li>
                                                <li class="contact__info-depth2">Tòa CT2, chung cư Skylight, ngõ Hòa Bình 6, Minh Khai, Hai Bà Trưng, Hà Nội, Việt Nam</li>
                                            </ul>
                                        </li>
                                        <li class="contact__info-item">
                                            <strong class="contact__info-name">Số điện thoại :</strong>
                                            <ul class="contact__info-content contact__info-content--type2">
                                                <li class="contact__info-depth2"><a href="tel:0989872133" class="contact__info-link">0989872133</a></li>
                                                <li class="contact__info-depth2"><a href="tel:0923262621" class="contact__info-link">0923262621</a></li>
                                            </ul>
                                        </li>
                                        <li class="contact__info-item">
                                            <strong class="contact__info-name">E-Mail :</strong>
                                            <div class="contact__info-content">
                                                <div class="contact__info-depth2"><a href="mailto:bimworksvietnam@gmail.com" class="contact__info-link">bimworksvietnam@gmail.com</a></div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-7">
                                <form class="contact__form">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="input__wrap">
                                                <label class="sr-only" for="form-name">Họ tên</label>
                                                <input type="text" class="input" id="form-name" placeholder="Họ tên">
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="input__wrap">
                                                <label class="sr-only" for="form-email">E-Mail</label>
                                                <input type="email" class="input" id="form-email" placeholder="E-Mail">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="input__wrap">
                                                <label class="sr-only" for="form-subject">Tiêu đề</label>
                                                <input type="text" class="input" id="form-subject" placeholder="Tiêu đề">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="textarea__wrap">
                                                <label class="sr-only" for="form-content">Nội dung</label>
                                                <textarea class="textarea" id="form-content" placeholder="Nội dung"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="contact__btn">
                                        <button type="button" class="btn btn--black">GỬI THÔNG TIN</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- Contact map -->
                    <div class="contact__map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5268.251512983803!2d105.79653771797983!3d20.983962144261575!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x266bb7909374fc10!2zQ8O0bmcgVHkgQ-G7lSBQaOG6p24gVMawIFbhuqVuLCBYw6J5IEThu7FuZyBWw6AgQ2h1eeG7g24gR2lhbyBDw7RuZyBOZ2jhu4cgQmltd29ya3MgVmnhu4d0IE5hbQ!5e0!3m2!1sen!2s!4v1615632932958!5m2!1sen!2s" class="contact__iframe" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                    <!-- // Contact map -->
                </div>
                <!-- // Contact form -->
            </div>
        </section>
    </div>
    <!-- // Content -->
</main>
<%- include('./layout/footer')%>
