<%- include('./layout/header')%>
<%- include('./layout/navigation')%>
<main id="container" role="main">
    <!-- Spotlight -->
    <div class="spotlight">
        <div class="spotlight__content">
            <div class="container">
                <h2 class="spotlight__title">BIMworks có các giải pháp <br>phù hợp cho bạn</h2>
                <a href="/contact-us" class="btn btn--large btn--outline-white spotlight__btn-contact">LIÊN HỆ</a>
            </div>
        </div>
        <div class="spotlight__control">
            <div class="spotlight__arrows">
                <button type="button" class="spotlight__arrow spotlight__arrow--prev"><span class="sr-only">Ảnh trước</span></button>
                <button type="button" class="spotlight__arrow spotlight__arrow--next"><span class="sr-only">Ảnh sau</span></button>
            </div>
            <div class="spotlight__dots"></div>
        </div>
        <div class="spotlight__bg" data-top="top[inverted]:50%;" data-top-bottom="top:0%;">
            <ul class="spotlight__list js-spotlight-list">
                <li class="spotlight__item">
                    <div class="spotlight__item-img">
                        <img src="/img/img_spotlight.jpg" alt="">
                    </div>
                </li>
                <li class="spotlight__item">
                    <div class="spotlight__item-img">
                        <img src="/img/img_spotlight_02.jpg" alt="">
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- // Spotlight -->

    <!-- Content -->
    <div id="content">
        <!-- Main about and Service -->
        <section class="section">
            <h3 class="sr-only">Về chúng tôi</h3>
            <div class="section__content">
                <div class="aboutus-main">
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <div class="aboutus-main__list-img">
                                    <div class="aboutus-main__item-img"><img src="./img/img_aboutus_main.jpg" alt=""></div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="aboutus-main__content">
                                    <strong class="aboutus-main__title">BIMworks có các giải pháp <br>phù hợp cho bạn</strong>
                                    <p class="aboutus-main__description text-ellipsis text-ellipsis--3line">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetuer
                                        adipiscing elit. Aenean commodo ligula eget dolor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                    <a href="/about-us" class="btn btn--black aboutus-main__btn-viewmore">XEM THÊM</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="service">
                    <div class="container">
                        <div class="row">
                            <div class="col-4">
                                <div class="service__item">
                                    <a href="/project-list" class="service__link">
                                        <i class="service__icon icon-design"></i>
                                        <strong class="service__name">Thiết kế</strong>
                                        <p class="service__description">Lorem ipsum dolor sit amet, consecter piscing elit. Aenean commodo ligula eget dolor Aenean.</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="service__item">
                                    <a href="/project-list" class="service__link">
                                        <i class="service__icon icon-furniture"></i>
                                        <strong class="service__name">Nội thất</strong>
                                        <p class="service__description">Lorem ipsum dolor sit amet, consecter piscing elit. Aenean commodo ligula eget dolor Aenean.</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="service__item">
                                    <a href="/project-list" class="service__link">
                                        <i class="service__icon icon-construction"></i>
                                        <strong class="service__name">Thi công</strong>
                                        <p class="service__description">Lorem ipsum dolor sit amet, consecter piscing elit. Aenean commodo ligula eget dolor Aenean.</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- // Main about and Service -->

        <section class="section section--border-top homepage__project">
            <div class="section__title">
                <div class="container">
                    <h3 class="section__name">DỰ ÁN CỦA CHÚNG TÔI</h3>
                </div>
            </div>
            <div class="section__content">
                <div class="container">
                    <div class="row homepage__project-list">
                        <div class="col-4 homepage__project-item">
                            <!-- Project box -->
                            <div class="project-box">
                                <a href="project-detail" class="project-box__link">
                                    <div class="project-box__content">
                                        <strong class="project-box__name text-ellipsis text-ellipsis--2line">Dự án 01</strong>
                                        <p class="project-box__description text-ellipsis text-ellipsis--2line">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, praesentium minus ipsam saepe explicabo dolorem voluptatem! Veritatis eos, officia numquam quo nobis vitae doloribus atque quidem itaque
                                            ratione a facere!</p>
                                        <span class="project-box__btn-viewmore">Xem thêm</span>
                                    </div>
                                    <div class="project-box__img"><img src="img/projects/img_thumbnai_project.jpg" alt=""></div>
                                </a>
                            </div>
                            <!-- // Project box -->
                        </div>
                        <div class="col-4 homepage__project-item">
                            <!-- Project box -->
                            <div class="project-box">
                                <a href="project-detail" class="project-box__link">
                                    <div class="project-box__content">
                                        <strong class="project-box__name text-ellipsis text-ellipsis--2line">Dự án 02</strong>
                                        <p class="project-box__description text-ellipsis text-ellipsis--2line">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, praesentium minus ipsam saepe explicabo dolorem voluptatem! Veritatis eos, officia numquam quo nobis vitae doloribus atque quidem itaque
                                            ratione a facere!</p>
                                        <span class="project-box__btn-viewmore">Xem thêm</span>
                                    </div>
                                    <div class="project-box__img"><img src="img/projects/img_thumbnai_project_02.jpg" alt=""></div>
                                </a>
                            </div>
                            <!-- // Project box -->
                        </div>
                        <div class="col-4 homepage__project-item">
                            <!-- Project box -->
                            <div class="project-box">
                                <a href="project-detail" class="project-box__link">
                                    <div class="project-box__content">
                                        <strong class="project-box__name text-ellipsis text-ellipsis--2line">Dự án 03</strong>
                                        <p class="project-box__description text-ellipsis text-ellipsis--2line">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, praesentium minus ipsam saepe explicabo dolorem voluptatem! Veritatis eos, officia numquam quo nobis vitae doloribus atque quidem itaque
                                            ratione a facere!</p>
                                        <span class="project-box__btn-viewmore">Xem thêm</span>
                                    </div>
                                    <div class="project-box__img"><img src="img/projects/img_thumbnai_project_03.jpg" alt=""></div>
                                </a>
                            </div>
                            <!-- // Project box -->
                        </div>
                        <div class="col-4 homepage__project-item">
                            <!-- Project box -->
                            <div class="project-box">
                                <a href="project-detail" class="project-box__link">
                                    <div class="project-box__content">
                                        <strong class="project-box__name text-ellipsis text-ellipsis--2line">Dự án 04</strong>
                                        <p class="project-box__description text-ellipsis text-ellipsis--2line">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, praesentium minus ipsam saepe explicabo dolorem voluptatem! Veritatis eos, officia numquam quo nobis vitae doloribus atque quidem itaque
                                            ratione a facere!</p>
                                        <span class="project-box__btn-viewmore">Xem thêm</span>
                                    </div>
                                    <div class="project-box__img"><img src="img/projects/img_thumbnai_project_02.jpg" alt=""></div>
                                </a>
                            </div>
                            <!-- // Project box -->
                        </div>
                        <div class="col-4 homepage__project-item">
                            <!-- Project box -->
                            <div class="project-box">
                                <a href="project-detail" class="project-box__link">
                                    <div class="project-box__content">
                                        <strong class="project-box__name text-ellipsis text-ellipsis--2line">Dự án 05</strong>
                                        <p class="project-box__description text-ellipsis text-ellipsis--2line">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, praesentium minus ipsam saepe explicabo dolorem voluptatem! Veritatis eos, officia numquam quo nobis vitae doloribus atque quidem itaque
                                            ratione a facere!</p>
                                        <span class="project-box__btn-viewmore">Xem thêm</span>
                                    </div>
                                    <div class="project-box__img"><img src="img/projects/img_thumbnai_project_03.jpg" alt=""></div>
                                </a>
                            </div>
                            <!-- // Project box -->
                        </div>
                        <div class="col-4 homepage__project-item">
                            <!-- Project box -->
                            <div class="project-box">
                                <a href="project-detail" class="project-box__link">
                                    <div class="project-box__content">
                                        <strong class="project-box__name text-ellipsis text-ellipsis--2line">Dự án 06</strong>
                                        <p class="project-box__description text-ellipsis text-ellipsis--2line">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, praesentium minus ipsam saepe explicabo dolorem voluptatem! Veritatis eos, officia numquam quo nobis vitae doloribus atque quidem itaque
                                            ratione a facere!</p>
                                        <span class="project-box__btn-viewmore">Xem thêm</span>
                                    </div>
                                    <div class="project-box__img"><img src="img/projects/img_thumbnai_project.jpg" alt=""></div>
                                </a>
                            </div>
                            <!-- // Project box -->
                        </div>
                    </div>
                </div>
                <div class="section__btn">
                    <a href="project-list" class="btn btn--black">XEM THÊM</a>
                </div>
            </div>
        </section>
        <section class="section homepage__contact">
            <h3 class="sr-only">Liên hệ với chúng tôi</h3>
            <div class="section__content">
                <div class="homepage__contact-wrap">
                    <div class="homepage__contact-content">
                        <div class="container">
                            <div class="row">
                                <div class="col-9">
                                    <strong class="homepage__contact-title">Vui lòng đặt <br>bất kỳ câu hỏi nào</strong>
                                    <p class="homepage__contact-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. possimus labore?</p>
                                </div>
                                <div class="col-3">
                                    <div class="homepage__contact-btn">
                                        <a href="contact-us" class="btn btn--large btn--outline-white homepage__contact-btn-link">LIÊN HỆ</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="homepage__contact-bg" data-bottom-top="top[inverted]:50%;" data-top-bottom="top:-50%;">
                        <img src="img/bg_home_contact.jpg" alt="">
                    </div>
                </div>
            </div>
        </section>
        <section class="section homepage__posts">
            <div class="section__title">
                <div class="container">
                    <h3 class="section__name">BÀI VIẾT</h3>
                </div>
            </div>
            <div class="section__content">
                <div class="container">
                    <div class="row homepage__posts-list">
                        <div class="col-6 homepage__posts-item">
                            <!-- Article -->
                            <div class="article">
                                <div class="article__img"><img src="img/posts/bg_thumbnai_news.jpg" alt=""></div>
                                <div class="article__content">
                                    <div class="article__tags">
                                        <a href="#none" class="article__tag">PHONG THỦY</a>
                                        <a href="#none" class="article__tag">THIẾT KẾ</a>
                                    </div>
                                    <strong class="article__name text-ellipsis text-ellipsis--2line">Tiêu đề bài viết phong thủy Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur voluptatibus</strong>
                                    <p class="article__description text-ellipsis text-ellipsis--3line">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur voluptatibus neque similique dolor eaque in ipsam at, tempora nostrum excepturi maxime veritatis magnam nihil odio explicabo ducimus laboriosam
                                        a animi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur voluptatibus neque similique dolor eaque in ipsam at, tempora nostrum excepturi maxime veritatis magnam nihil odio explicabo ducimus
                                        laboriosam a animi.</p>
                                </div>
                                <a href="news-detail" class="article__link"></a>
                            </div>
                            <!-- // Article -->
                        </div>
                        <div class="col-6 homepage__posts-item">
                            <!-- Article -->
                            <div class="article">
                                <div class="article__img"><img src="img/posts/bg_thumbnai_recruitment.jpg" alt=""></div>
                                <div class="article__content">
                                    <div class="article__tags">
                                        <a href="#none" class="article__tag">TUYỂN DỤNG</a>
                                        <a href="#none" class="article__tag">KỸ SƯ</a>
                                    </div>
                                    <strong class="article__name text-ellipsis text-ellipsis--2line">Tiêu đề bài viết tuyển dụng</strong>
                                    <p class="article__description text-ellipsis text-ellipsis--3line">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur voluptatibus neque similique dolor eaque in ipsam at, tempora nostrum excepturi maxime veritatis magnam nihil odio explicabo ducimus laboriosam
                                        a animi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur voluptatibus neque similique dolor eaque in ipsam at, tempora nostrum excepturi maxime veritatis magnam nihil odio explicabo ducimus
                                        laboriosam a animi.</p>
                                </div>
                                <a href="recruitment-detail" class="article__link"></a>
                            </div>
                            <!-- // Article -->
                        </div>
                    </div>
                </div>
                <div class="section__btn">
                    <a href="news-list" class="btn btn--black">XEM THÊM</a>
                </div>
            </div>
        </section>
    </div>
    <!-- // Content -->
</main>
<%- include('./layout/footer')%>
        