<%- include('./layout/header')%>
<%- include('./layout/navigation')%>
<main id="container" role="main">
    <!-- Content -->
    <div id="content">
        <!-- Page title -->
        <section class="page-title">
            <div class="page-title__content">
                <div class="container">
                    <h2 class="page-title__name">Bài viết</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb__item"><a href="./index.html" class="breadcrumb__link">Trang chủ</a></li>
                        <li class="breadcrumb__item">Bài viết</li>
                    </ul>
                </div>
            </div>
            <div class="page-title__bg" data-top="top[inverted]:50%;" data-top-bottom="top:0%;">
                <img src="./img/bg_title_news.jpg" alt="">
            </div>
        </section>
        <!-- // Page title -->

        <section class="section">
            <h3 class="sr-only">Danh sách bài viết</h3>
            <div class="section__content">
                <div class="posts__list">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 posts__item">
                                <!-- Article -->
                                <div class="article article--spotlight">
                                    <div class="article__img"><img src="./img/posts/bg_thumbnai_news.jpg" alt=""></div>
                                    <div class="article__content">
                                        <div class="article__tags">
                                            <a href="#none" class="article__tag">PHONG THỦY</a>
                                            <a href="#none" class="article__tag">THIẾT KẾ</a>
                                        </div>
                                        <strong class="article__name text-ellipsis text-ellipsis--2line">Tiêu đề bài viết phong thủy Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur voluptatibus</strong>
                                        <p class="article__description text-ellipsis text-ellipsis--3line">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur voluptatibus neque similique dolor eaque in ipsam at, tempora nostrum excepturi maxime veritatis magnam nihil odio explicabo ducimus laboriosam a animi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur voluptatibus neque similique dolor eaque in ipsam at, tempora nostrum excepturi maxime veritatis magnam nihil odio explicabo ducimus laboriosam a animi.</p>
                                    </div>
                                    <a href="./news-detail.html" class="article__link"></a>
                                </div>
                                <!-- // Article -->
                            </div>
                            <div class="col-6 posts__item">
                                <!-- Article -->
                                <div class="article">
                                    <div class="article__img"><img src="./img/posts/bg_thumbnai_news.jpg" alt=""></div>
                                    <div class="article__content">
                                        <div class="article__tags">
                                            <a href="#none" class="article__tag">PHONG THỦY</a>
                                            <a href="#none" class="article__tag">THIẾT KẾ</a>
                                        </div>
                                        <strong class="article__name text-ellipsis text-ellipsis--2line">Tiêu đề bài viết phong thủy Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur voluptatibus</strong>
                                        <p class="article__description text-ellipsis text-ellipsis--3line">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur voluptatibus neque similique dolor eaque in ipsam at, tempora nostrum excepturi maxime veritatis magnam nihil odio explicabo ducimus laboriosam a animi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur voluptatibus neque similique dolor eaque in ipsam at, tempora nostrum excepturi maxime veritatis magnam nihil odio explicabo ducimus laboriosam a animi.</p>
                                    </div>
                                    <a href="./news-detail.html" class="article__link"></a>
                                </div>
                                <!-- // Article -->
                            </div>
                            <div class="col-6 posts__item">
                                <!-- Article -->
                                <div class="article">
                                    <div class="article__img"><img src="./img/posts/bg_thumbnai_news.jpg" alt=""></div>
                                    <div class="article__content">
                                        <div class="article__tags">
                                            <a href="#none" class="article__tag">PHONG THỦY</a>
                                            <a href="#none" class="article__tag">THIẾT KẾ</a>
                                        </div>
                                        <strong class="article__name text-ellipsis text-ellipsis--2line">Tiêu đề bài viết phong thủy Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur voluptatibus</strong>
                                        <p class="article__description text-ellipsis text-ellipsis--3line">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur voluptatibus neque similique dolor eaque in ipsam at, tempora nostrum excepturi maxime veritatis magnam nihil odio explicabo ducimus laboriosam a animi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur voluptatibus neque similique dolor eaque in ipsam at, tempora nostrum excepturi maxime veritatis magnam nihil odio explicabo ducimus laboriosam a animi.</p>
                                    </div>
                                    <a href="./news-detail.html" class="article__link"></a>
                                </div>
                                <!-- // Article -->
                            </div>
                            <div class="col-6 posts__item">
                                <!-- Article -->
                                <div class="article">
                                    <div class="article__img"><img src="./img/posts/bg_thumbnai_news.jpg" alt=""></div>
                                    <div class="article__content">
                                        <div class="article__tags">
                                            <a href="#none" class="article__tag">PHONG THỦY</a>
                                            <a href="#none" class="article__tag">THIẾT KẾ</a>
                                        </div>
                                        <strong class="article__name text-ellipsis text-ellipsis--2line">Tiêu đề bài viết phong thủy Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur voluptatibus</strong>
                                        <p class="article__description text-ellipsis text-ellipsis--3line">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur voluptatibus neque similique dolor eaque in ipsam at, tempora nostrum excepturi maxime veritatis magnam nihil odio explicabo ducimus laboriosam a animi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur voluptatibus neque similique dolor eaque in ipsam at, tempora nostrum excepturi maxime veritatis magnam nihil odio explicabo ducimus laboriosam a animi.</p>
                                    </div>
                                    <a href="./news-detail.html" class="article__link"></a>
                                </div>
                                <!-- // Article -->
                            </div>
                            <div class="col-6 posts__item">
                                <!-- Article -->
                                <div class="article">
                                    <div class="article__img"><img src="./img/posts/bg_thumbnai_news.jpg" alt=""></div>
                                    <div class="article__content">
                                        <div class="article__tags">
                                            <a href="#none" class="article__tag">PHONG THỦY</a>
                                            <a href="#none" class="article__tag">THIẾT KẾ</a>
                                        </div>
                                        <strong class="article__name text-ellipsis text-ellipsis--2line">Tiêu đề bài viết phong thủy Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur voluptatibus</strong>
                                        <p class="article__description text-ellipsis text-ellipsis--3line">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur voluptatibus neque similique dolor eaque in ipsam at, tempora nostrum excepturi maxime veritatis magnam nihil odio explicabo ducimus laboriosam a animi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur voluptatibus neque similique dolor eaque in ipsam at, tempora nostrum excepturi maxime veritatis magnam nihil odio explicabo ducimus laboriosam a animi.</p>
                                    </div>
                                    <a href="./news-detail.html" class="article__link"></a>
                                </div>
                                <!-- // Article -->
                            </div>
                            <div class="col-6 posts__item">
                                <!-- Article -->
                                <div class="article">
                                    <div class="article__img"><img src="./img/posts/bg_thumbnai_news.jpg" alt=""></div>
                                    <div class="article__content">
                                        <div class="article__tags">
                                            <a href="#none" class="article__tag">PHONG THỦY</a>
                                            <a href="#none" class="article__tag">THIẾT KẾ</a>
                                        </div>
                                        <strong class="article__name text-ellipsis text-ellipsis--2line">Tiêu đề bài viết phong thủy Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur voluptatibus</strong>
                                        <p class="article__description text-ellipsis text-ellipsis--3line">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur voluptatibus neque similique dolor eaque in ipsam at, tempora nostrum excepturi maxime veritatis magnam nihil odio explicabo ducimus laboriosam a animi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur voluptatibus neque similique dolor eaque in ipsam at, tempora nostrum excepturi maxime veritatis magnam nihil odio explicabo ducimus laboriosam a animi.</p>
                                    </div>
                                    <a href="./news-detail.html" class="article__link"></a>
                                </div>
                                <!-- // Article -->
                            </div>
                            <div class="col-6 posts__item">
                                <!-- Article -->
                                <div class="article">
                                    <div class="article__img"><img src="./img/posts/bg_thumbnai_news.jpg" alt=""></div>
                                    <div class="article__content">
                                        <div class="article__tags">
                                            <a href="#none" class="article__tag">PHONG THỦY</a>
                                            <a href="#none" class="article__tag">THIẾT KẾ</a>
                                        </div>
                                        <strong class="article__name text-ellipsis text-ellipsis--2line">Tiêu đề bài viết phong thủy Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur voluptatibus</strong>
                                        <p class="article__description text-ellipsis text-ellipsis--3line">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur voluptatibus neque similique dolor eaque in ipsam at, tempora nostrum excepturi maxime veritatis magnam nihil odio explicabo ducimus laboriosam a animi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur voluptatibus neque similique dolor eaque in ipsam at, tempora nostrum excepturi maxime veritatis magnam nihil odio explicabo ducimus laboriosam a animi.</p>
                                    </div>
                                    <a href="./news-detail.html" class="article__link"></a>
                                </div>
                                <!-- // Article -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="posts__pagination">
                    <!-- Pagination -->
                    <div class="pagination">
                        <a href="#none" class="pagination__item pagination__item--prev"><i class="icon-prev"><span class="sr-only">Trang sau</span></i></a>
                        <ul class="pagination__lst">
                        <li class="pagination__item"><a href="#" class="on pagination__link">01</a></li>
                        <li class="pagination__item"><a href="#" class="pagination__link">02</a></li>
                        <li class="pagination__item"><a href="#" class="pagination__link">03</a></li>
                        <li class="pagination__item"><a href="#" class="pagination__link">04</a></li>
                        <li class="pagination__item"><a href="#" class="pagination__link">05</a></li>
                        </ul>
                        <a href="#none" class="pagination__item pagination__item--next"><i class="icon-prev"><span class="sr-only">Trang tiếp theo</span></i></a>
                    </div>
                    <!-- // Pagination -->
                </div>
            </div>
        </section>
    </div>
    <!-- // Content -->
</main>
<%- include('./layout/footer')%>
