<nav class="navbar navbar-expand-lg admin-navigation">
    <div class="container-fluid container">
        <a class="navbar-brand admin-navigation_brand" href="#">Admin</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 admin-navigation_menu">
                <li class="nav-item admin-navigation_item">
                    <a class="nav-link admin-navigation_link active" aria-current="page" href="/admin/users">Users</a>
                </li>
            </ul>
        </div>
        <div class="admin-navigation_userInfo">
            <a class="admin-navigation_user" href="#"><%= user.username || ''%></a>
        </div>
    </div>
</nav>