    <!-- Footer -->
    <footer id="footer" class="footer section--border-top" role="contentinfo">
        <div class="footer__wrap">
            <div class="container">
                <div class="row">
                    <div class="col-3">
                        <strong class="footer__logo">
                                <a href="./index.html" class="footer__link">
                                    <img src="./img/logo.png" alt="BIMworks TOP QUALITY">
                                </a>
                            </strong>
                    </div>
                    <div class="col-9">
                        <div class="footer__content">
                            <div class="footer-info">
                                <strong class="footer-info__name">Công ty CP Tư vấn Xây dựng và <br>Chuyển giao công nghệ BIMworks Việt Nam</strong>
                                <ul class="footer-info__list">
                                    <li class="footer-info__item footer-info__item--address">
                                        <ul class="footer-info__address">
                                            <li class="footer-info__address-item">Số 15, đường Chiến Thắng, Hà Đông, Hà Nội, Việt Nam</li>
                                            <li class="footer-info__address-item">Tòa CT2, chung cư Skylight, ngõ Hòa Bình 6, Minh Khai, Hai Bà Trưng, Hà Nội, Việt Nam</li>
                                        </ul>
                                    </li>
                                    <li class="footer-info__item footer-info__item--phone">
                                        <ul class="footer-info__phone">
                                            <li class="footer-info__phone-item"><a href="tel:0989872133" class="footer-info__link">0989872133</a></li>
                                            <li class="footer-info__phone-item"><a href="tel:0923262621" class="footer-info__link">0923262621</a></li>
                                        </ul>
                                    </li>
                                    <li class="footer-info__item footer-info__item--mail"><a href="mailto:bimworksvietnam@gmail.com" class="footer-info__link">bimworksvietnam@gmail.com</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container-fluid">Copyright &copy; 2021 BIMworks Việt Nam</div>
        </div>
    </footer>
    <!-- // Footer -->

    <!-- Floating button -->
    <div class="contact-floating animation-bounce">
        <a href="tel:0989872133" class="contact-floating__btn"><i class="contact-floating__icon icon-phone"></i></a>
        <div class="contact-floating__tooltip">Liên hệ: <strong class="contact-floating__number">0989872133</strong></div>
    </div>
    <!-- // Floating button -->
</div>

<!-- Loading screen -->
<div class="loading js_loading">
    <div class="loading__content">
        <div class="loading__icon">
            <i class="icon-loading animation-spin"><span class="sr-only">Đang tải trang</span></i>
        </div>
    </div>
</div>
<!-- // Loading screen -->

<!-- JS -->
<script src="/js/libs/jquery.min.js"></script>
<script src="/js/libs/bootstrap.min.js"></script>
<script src="/js/libs/slick.min.js"></script>
<script src="/js/libs/skrollr.min.js"></script>
<script src="/js/apps/common.js"></script>
<script src="/js/apps/home.js"></script>
<script src="/js/apps/aboutus.js"></script>
<!-- // JS -->
</body>

</html>