<header id="header" class="header" role="banner">
    <div class="container">
        <div class="header__wrap">
            <h1 class="header__logo">
                <a href="/index" class="header__link">
                    <img src="/img/logo.png" alt="BIMworks TOP QUALITY">
                </a>
            </h1>
            <nav id="nav" role="navigation">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="/" class="nav__link">Trang chủ</a>
                    </li>
                    <li class="nav__item">
                        <a href="/about-us" class="nav__link">Về chúng tôi</a>
                    </li>
                    <li class="nav__item">
                        <a href="/project-list?category=design&page=1" class="nav__link">Dự án</a>
                    </li>
                    <li class="nav__item">
                        <a href="/price" class="nav__link nav__link--arrow">Báo giá</a>
                        <ul class="nav__list-depth2">
                            <li class="nav__item-depth2"><a href="/price" class="nav__link-depth2">Thiết kế</a></li>
                            <li class="nav__item-depth2"><a href="/price" class="nav__link-depth2">Nội thất</a></li>
                            <li class="nav__item-depth2"><a href="/price" class="nav__link-depth2">Thi công</a></li>
                        </ul>
                    </li>
                    <li class="nav__item">
                        <a href="/news-list" class="nav__link">Bài viết</a>
                    </li>
                    <li class="nav__item">
                        <a href="/recruitment-list" class="nav__link">Tuyển dụng</a>
                    </li>
                    <li class="nav__item">
                        <a href="/contact-us" class="nav__link">Liên hệ</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>